# =====================
# Python 通用
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# 虚拟环境（你的）
# =====================
MEA/
MEA311/
venv/
.env

# =====================
# Flask instance / 数据库
# =====================
# instance/
# *.db

# =====================
# 编辑器 / IDE
# =====================
.vscode/
.idea/

# =====================
# 系统文件
# =====================
.DS_Store
Thumbs.db

# =====================
# 发送者测试脚本
# =====================
sender.py